.header_background {
	height: 100vh;
	background: #0e1419 url(../img/header-background/header.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 170px 0 100px;
}

.header_background::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 100vh;
}

.container {
	padding: 0 20px;
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
}

.header_background_relative {
	position: relative;
	width: 520px;
}

.header_background_paragraph {
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	color: #fcff00;
	margin: 0;
}

.header_background_title {
	font-family: 'Montserrat', sans-serif;
	font-size: 55px;
	font-weight: 900;
	margin: 0 0 35px;
}

.btn {
	background: #ff5441;
	color: #fff;
	display: inline-block;
	padding: 18px 20px;
	width: 240px;
	max-width: 100%;
	border-radius: 28px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 18px;
	border: 0;
	cursor: pointer;
	text-align: center;
	letter-spacing: .02em;
	box-shadow: 0 0 38px 0 rgba(212, 66, 50, 0.8);
	transition: color .2s, background .2s, opacity .2s;
}

.btn:hover {
	background: #ec4b38;
}

.btn:active {
	opacity: 0.8;
	transform: scale(0.95);
}



@media(max-width: 992px) {
	.header_background {
		padding-top: 150px;
	}
}

@media(max-width: 576px) {
	.header_background_paragraph {
		font-size: 18px;
	}

	.header_background_title {
		font-size: 40px;
	}

	.btn {
		font-size: 16px;
		width: 220px;
		padding: 16px 20px;
	}
}

@media(max-width: 360px) {
	.header_background_title {
		font-size: 34px;
	}
}

